<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Awesome Garage" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= root_path %>">Awesome Garage</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link_to 'All Cars', cars_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'My Garage (Favorites)', favorites_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Add a New Car', new_car_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© 2024 Rails Awesome Garage - <%= link_to 'All Cars', cars_path %> | <%= link_to 'My Garage', favorites_path %></span>
      </div>
    </footer>
  </body>
</html>
